#left-tab {
    display: flex;
    min-width: 10vw;
    min-height: 100vh;
    place-content: center;
    place-items: center;
    text-align: center;
    border-right: 1px solid var(--text);
    padding-left: 1vw;
    padding-right: 1vw;

    flex-direction: column;

    grid-column: 1;
}

#left-bar-button {
    background:blueviolet;
    background-image: var(--menu-src);
    width: 20px;
    height: 20px
}